version: '3'

volumes:
  jenkins_data:
      driver: local
  postgres_data:
      driver: local

services:
  proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./config.json:/app/config/production.json
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
  mariadb:
    image: 'jc21/mariadb-aria:10.4'
    environment:
      MYSQL_ROOT_PASSWORD: 'npm'
      MYSQL_DATABASE: 'npm'
      MYSQL_USER: 'npm'
      MYSQL_PASSWORD: 'npm'
    volumes:
      - ./data/mysql:/var/lib/mysql

  postgres:
      image: postgres
      volumes:
        - postgres_data:/var/lib/postgresql/data
      environment:
        POSTGRES_DB: keycloak
        POSTGRES_USER: keycloak
        POSTGRES_PASSWORD: password

  keycloak:
    container_name: demo-keycloak
    build:
      context: .
      dockerfile: keycloak/Dockerfile
    environment:
      DB_VENDOR: POSTGRES
      DB_ADDR: postgres
      DB_DATABASE: keycloak
      DB_USER: keycloak
      DB_SCHEMA: public
      DB_PASSWORD: password
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
    volumes:
      - ./mytheme:/opt/jboss/keycloak/themes/mytheme/
    depends_on:
      - postgres

  jenkins:
    image: jenkins/jenkins:lts
    labels:
      kompose.service.type: nodeport
    volumes:
      - jenkins_data:/var/jenkins_home
  ldap:
    container_name: demo-ldap
    build:
      context: ldap
      dockerfile: Dockerfile

  mailhog:
    image: mailhog/mailhog

  js-console:
    container_name: js-console
    build:
      context: js-console
      dockerfile: Dockerfile
